extends base

block content
  main.main
    .resetPassword-form
      h2.heading-secondary.ma-bt-lg Reset your Password
      form.form
        .form__group.ma-bt-md
          label.form__label(for='password') New Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green#resetPassword-btn Reset My Password
